{% extends "admin/templates/admin_template.html" %}

{% block title %}Contabilidad: Vision General{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Contabilidad: Vision General</h1>
    </div>
  </div>
  <div class="row">
  <table class="table table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Quien</th>
      <th scope="col">Cuantia</th>
      <th scope="col">Concepto</th>
      <th scope="col">Fecha</th>
      <th scope="col">Accion</th>
    </tr>
  </thead>
  <tbody>
	
    {% for  operation in operations %}
    {% if operation['direccion']=='1' %}
<tr class="table-success">
    {% else %}
<tr class="table-danger">
	{% endif %}
	<td scope="row">{{ loop.index }}</td>
	<td>{{ operation['user'] }}</td>
<td>{{ operation['cuantia'] |int * operation['direccion']|int }}</td>
<td>{{ operation['concepto'] }}</td>
<td>{{ operation['date'] }}</td>
<td><form method="POST" action="/admin/del"><input type="hidden" value={{ operation['_id'] }} name="identifier"><button type="submit" class="btn btn-danger">Danger</button></form></td>
    {% endfor %}
    <tr>
	    <td></td>
	    <td></td>
	    <td>{{ total }}</td>
	    <td></td>
	    <td></td>
    </tr>
 </tbody>
  </div>
</table>
</div>

{% endblock %}

