  {% extends "admin/templates/admin_template.html" %} {% block
  title %}Actividades: Añadir actividad{% endblock %} {% block main
  %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Actividades: Añadir actividad</h1>
      </div>
    </div>
    <div class="row" style="float: center;">
      <form method="post" action="/admin/add">
        <fieldset>
          <!-- Form Name -->
          <legend>Actividades</legend> <!-- Text input-->
          <div class="form-group">
            <label class="col control-label" for="textinput">Nombre
            actividad</label>
            <div class="col">
              <input id="textinput" name="textinput" type="text"
              placeholder="Nombre actividad" class=
              "form-control input-md">
            </div>
          </div><!-- Text input-->
          <div class="form-group">
            <label class="col control-label" for=
            "detalle">Explicacion actividad</label>
            <div class="col">
              <input id="detalle" name="detalle" type="text"
              placeholder="Pequeño resumen" class=
              "form-control input-md">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <!-- Multiple Radios (inline) -->
              <div class="form-group">
                <label class="col control-label" for="tipo">Tipo
                actividad</label>
                <div class="col">
                  <label class="radio" for=
                  "tipo-0"><input type="radio" name="tipo" id=
                  "tipo-0" value="1" checked="checked">
                  Puntual</label> <label class="radio" for=
                  "tipo-1"><input type="radio" name="tipo" id=
                  "tipo-1" value="2"> Permanente</label>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- Multiple Radios (inline) -->
              <div class="form-group">
                <label class="col control-label" for=
                "asistencia">Tipo de asistencia</label>
                <div class="col">
                  <label class="radio" for=
                  "asistencia-0"><input type="radio" name=
                  "asistencia" id="asistencia-0" value="1" checked=
                  "checked"> Abierta</label> <label class=
                  "radio" for="asistencia-1"><input type=
                  "radio" name="asistencia" id="asistencia-1"
                  value="2"> Cerrada</label>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>{% endblock %}
